*{
	box-sizing: border-box;
	color: black;
	margin:0;
	padding:0;
}
ul{
	display:flex;
	list-style:none;
	width:100%;
	flex-flow: row wrap;
}
li{
	flex: 1 1 33%;
	padding:5px;

}
img{
	height: 50px;
	float:left;
}

a{
	display: block;
	text-decoration : none;
	width : 100% ;
	text-align: center;
	background-color : red;
	
	
}
	
